<ion-header class="header_components">
    <app-header [title]="'my_deliveries'" type="0"  ></app-header>
</ion-header>

<ion-content>
    <div class="pages_wraper">
        <div  class="delivery_top">
            <div class="delivery_in">
                <div class="count green">
                    148
                </div>
                <p>{{ 'pending' | translate }}</p>
                <p>{{ 'deliveries' | translate }}</p>
            </div><!--delivery_in-->
            <div class="delivery_in">
                <div class="count">
                    13
                </div>
                <p>{{ 'pending' | translate }}</p>
                <p>{{ 'deliveries' | translate }}</p>
            </div><!--delivery_in-->
            <div class="delivery_in">
                <div class="count red">
                    64 
                </div>
                <p>{{ 'this_month' | translate }}</p>
                <p>{{ 'pickups' | translate }}</p>
            </div><!--delivery_in-->
        </div><!--delivery_top-->

        <div class="search_bar">
            <div class="input_in_icon">
                <div class="input_stacked double_icon">
                    <ion-icon name="search" ></ion-icon>
                    <ion-input placeholder="{{ 'search_here' | translate }}"></ion-input>
                    <ion-img (click)="presentActionSheet()" class="lastone" src="assets/images/icons/filter.png"></ion-img>
                </div><!--input_stacked-->
            </div><!--input_in_icon--> 
        </div><!--search_bar-->

        <div class="transactions">
            <h3 class="title_simple"> {{ 'recent_transactions' | translate }}</h3>
            <div class="transactions_table">
                <ion-grid class="ion-text-left">

                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text>{{ 'tracking_id' | translate }}</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>{{ 'time' | translate }}</ion-text>
                        </ion-col>

                        <ion-col class="ion-text-center">
                            <ion-text>{{ 'status' | translate }}</ion-text>
                        </ion-col>
                    </ion-row>

                    <ion-row class="content-row" (click)="detail()">
                        <ion-col>
                            <ion-text>
                                123456789012
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                Sat, 11:30PM
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <span>{{ 'complete' | translate }} </span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-row" (click)="detail()">
                        <ion-col>
                            <ion-text>
                                123456789012
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                Sat, 11:30PM
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <span class="cancelled">{{ 'cancelled' | translate }} </span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-row" (click)="detail()">
                        <ion-col>
                            <ion-text>
                                123456789012
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                Sat, 11:30PM
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <span class="returned">{{ 'returned' | translate }} </span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-row" (click)="detail()">
                        <ion-col>
                            <ion-text>
                                123456789012
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                Sat, 11:30PM
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <span>{{ 'complete' | translate }} </span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-row" (click)="detail()">
                        <ion-col>
                            <ion-text>
                                123456789012
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                Sat, 11:30PM
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <span class="returned">{{ 'returned' | translate }} </span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-row" (click)="detail()">
                        <ion-col>
                            <ion-text>
                                123456789012
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                Sat, 11:30PM
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <span>{{ 'complete' | translate }} </span>
                        </ion-col>
                    </ion-row>
                    <ion-row class="content-row" (click)="detail()">
                        <ion-col>
                            <ion-text>
                                123456789012
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                Sat, 11:30PM
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <span>{{ 'complete' | translate }} </span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div><!--transactions_table-->
        </div><!--transactions-->
    </div><!--pages_wraper-->
</ion-content>